@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
    overflow: hidden;
}

body { 
    background: url(./carrot.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

/* Style the video: 100% width and height to cover the entire window */
/* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  } */

/* Add some content at the bottom of the video/page */
/* .content {
    position: fixed;
    width: 100%;
  } */

#header {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    text-align: center;
    margin-top: 15vh;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    color: whitesmoke;
    /* color: rgb(87, 36, 105); */
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}

h2 {
    color: whitesmoke;
    /* color: rgb(87, 36, 105); */
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
    font-weight: bolder;
    font-size: 50px;
    margin: 0;
}

#clock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 20vh;
    color: whitesmoke;
    /* color: rgb(37, 107, 238); */
    background-color: rgba(189, 215, 216, 0.288);
    font-size: 300%;
    font-weight: bold;
}

#player {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    margin-top: 15%;
    /* margin-left: 5%; */
}

#player iframe {
    width: 50%;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 480px) {
       
    .content {
        position: fixed;
        top: 0;
        left: 0;
    }
    
    h1 {
        font-size: 40px;
        margin: 5% 0;
    }

    #clock {
        font-size: 200%;
        font-weight: bolder;
    }

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1000px) {
       
    #header {
        margin-top: 3vh;
    }
    
    h1 {
        font-size: 2.2rem;
        margin-top: 1%;
    }

    #player {
        /* margin-left: 60%; */
        margin-top: 3%;
    }

    #clock {
        font-size: 50px;
    }

}